.container{
    justify-content: center;
    justify-self: center;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin: 50px;
    background-color: lightslategrey;
}

input{
    width: 95%;
    height: 100px;
    border-radius: 5px;
}

button{
    margin-top: 10px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
}

.row1 button{
    width: 85px;
    height: 60px;
    border-radius: 5px;
}
.row2 button{
    width: 85px;
    height: 60px;
    border-radius: 5px;
}
.row3 button{
    width: 85px;
    height: 60px;
    border-radius: 5px;
}
.row4 button{
    width: 85px;
    height: 60px;
}
.row4 .zero{
    width: 170px;
    height: 60px;
}

.row5 button{
    width: 170px;
    height: 60px;
    border-radius: 5px;
}

input{
    text-align: end;
    font-size: 50px;
    padding-right: 10px;
}